<nav class="navbar navbar-expand-md bg-white border border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
      <span class="brand-text">RoamHub</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white p-2 rounded" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" aria-current="page" href="/listings">Home</a>
        <a class="nav-link" href="/listings">Find Your Perfect Stay</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
    </div>
  </div>
</nav>